body {
    background-color: black;
}

input[type="text"]
{
    font-size:34px;
    height: 56px;
    width: 56px;
    text-align: center;
      border-radius: 10px;
      border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  border: 2px solid;
  border-color: #3c3c3c;
  margin: 3px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.items .item {
  flex-basis: 80px;
  flex-grow: 1;
  flex-shrink: 0;
  box-sizing: border-box;
}

.NotInWord {
    background-color: #263238;
}

.InWord {
    background-color: #feca1f;
}

.InCorrectPlace {
    background-color: #55cc00;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
