// Default variable overrides

@import "./colors";

@import "../node_modules/bootstrap/scss/bootstrap";

.title {
    font-family: "Georgia", "Times New Roman", "serif";
    font-size: 2em;
}

.navbar {
    border-bottom: 1px solid $grey;
    margin-bottom: 20px;
    padding-top: 0;
    padding-bottom: 0;
}

.navitem {
    font-size: 1.5em;
    color: $white;
}

.help-button {
    font-size: 1.5em;
    color: $white;
}

.help-button:hover {
    color: $lightgrey;
}

input[type="text"].letter
{
  padding: 0px;
  caret-color: transparent;
  text-overflow: hidden;
  font-size: 29pt;
  font-weight: bold;
  height: 60px;
  width: 56px;
  text-align: center;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  border: 2px solid;
  border-color: $grey;
  margin: 3px;
  -webkit-tap-highlight-color: transparent;
}

input.letter:focus {
    border-color: #FFEFD5;
    outline: none;
}

input::selection {
    background: transparent;
}

.items {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.items .item {
  flex-basis: 80px;
  flex-grow: 1;
  flex-shrink: 0;
  box-sizing: border-box;
}

.no-indent {
  list-style: none;
  padding-left: 0;
}


.glow {
  color: white;
  text-shadow: 0 0 1px $dark, 0 0 2px $dark, 0 0 3px $InWord, 0 0 4px $InWord, 0 0 5px $InWord, 0 0 6px $InWord, 0 0 7px $InWord;
}

.NotInWord {
    background-color: $dark;
}

.InWord {
    background-color: $InWord;
}

.InCorrectPlace {
    background-color: $InCorrectPlace;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
